@import '../../sass/main.scss';

.radius-modify {
    border-radius: $default-radius;
}

.teams-card {
    flex: content;
    max-height: 40rem;
    overflow-y: auto;
    margin-bottom: 4.5%;
}

.top-five-card {
    max-height: 25rem; 
    margin-bottom: 4.5%;
    overflow-y: auto;
}

.addBtn{
    background-color: $default-btn-color;
    border: none;
    box-shadow: 0px 5px 15px 0px rgb(187, 115, 183);
    height: 39px;

    .plus-icon{
        color: white;
    }
}

.addBtn:hover{
    background: $default-btn-color-hover !important; 
}

.addBtn:focus{
    background: $default-btn-color-hover !important; 
}

.most-picked {
    height: 17rem;
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(132, 47, 127));
}

.most-picked-container{
    display: flex;

    .picked{
        background-color: rgb(204, 154, 190);
        border-radius: 120px;
        height: 12vw;
        width: 12vw;
        min-width: 8rem;
        min-height: 8rem;
        border: dashed 1px; 
        
        span{
            margin: auto;
            font-size: 4em;
        }
    }

    .lessPicked {
        margin: auto;
        margin-right: 12%;
        text-align: center;
        display: flex;
    }

    .mostPicked {
        margin: auto;
        margin-left: 12%;
        text-align: center;
        display: flex;
    }
}

@media only screen and (max-width: 630px) {
    .most-picked-container{
        display: block;
        margin-top: 0;
        .mostPicked {
            margin: auto;
            text-align: center;
            display: flex;
        }

        .lessPicked {
            margin: auto;
            margin-top: 10%;
            text-align: center;
            display: flex;
        }
    }
}

