@import '../../sass/main.scss';

.radius-modify {
    border-radius: $default-radius;
}

.teams-card {
    flex: content;
    max-height: 44rem;
    // margin-bottom: 4.5%;
}

.top-five-card {
    max-height: 25rem; 
    margin-bottom: 4.5%;
    overflow-y: auto;
}

.addBtn{
    background-color: $default-btn-color;
    border: none;
    box-shadow: 0px 5px 15px 0px rgb(187, 115, 183);
    height: 39px;

    .plus-icon{
        color: white;
    }
}

.addBtn:hover{
    background: $default-btn-color-hover !important; 
}

.addBtn:focus{
    background: $default-btn-color-hover !important; 
}

.most-picked-card {
    height: 18rem;
    max-height: 28rem;
    min-height: 17rem;
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(132, 47, 127));
}

.most-picked-container{
    display: flex;
    justify-content: center;

    .picked{
        background-color: rgb(204, 154, 190);
        border-radius: 120px;
        height: 12vw;
        width: 12vw;
        min-width: 8rem;
        min-height: 8rem;
        max-width: 12rem;
        max-height: 12rem;
        border: dashed 1px; 
        
        span{
            margin: auto;
            font-size: 4em;
        }
    }

    .most-container{
        flex: 1;
    }

    .lessPicked {
        display: flex;
    }

    .mostPicked {
        display: flex;  
    }

    .text-label{
        font-size: 1.5rem;
        color: white;
        font-weight: 600;
    }

}


@media only screen and (max-width: 500px) {

    .most-picked-card {
        height: 23.6rem;
    }

    .most-picked-container{
        display: block;

        .mostPicked {
            margin: auto;
            display: flex;
        }

        
        .lessPicked {
            margin: auto;
            display: flex;
        }

        .most-container{       
            margin-left: 0px;
        }
    
        .less-container{
            margin-right: 0px;
        }

        .text-label {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1440px) {

    .most-picked-container{
        
        .most-container{
            margin-left: 6vw;
        }
        
        .less-container {
            margin-right: 6vw;
        }
    }
}

