@import '../../sass/main.scss';

.radius-modify {
    border-radius: $default-radius;
}

.teams-card {
    flex: content;
    max-height: 38rem;
    overflow-y: auto;
    margin-bottom: 4.5%;
}

.top-five-card {
    max-height: 25rem; 
    margin-bottom: 4.5%;
    overflow-y: auto;
}

.most-picked {
    max-height: 12.4rem;
    height: 12.4rem;
}

.addBtn{
    background-color: $default-btn-color;
    border: none;
    box-shadow: 0px 5px 15px 0px rgb(187, 115, 183);
    height: 39px;

    .plus-icon{
        color: white;
    }
}

.addBtn:hover{
    background: $default-btn-color-hover !important; 
}

.addBtn:focus{
    background: $default-btn-color-hover !important; 
}

