@import '../../sass/main.scss';

.form-session-team {
    margin-bottom: 25px;
    color: rgb(174, 174, 174); 
}

.form-session-conf {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(174, 174, 174);  
}

.spin-loadin{
    margin-left: 50%;
    margin-top: 30%;
}

.squad {
    max-height: 32rem;
    overflow-y: auto;
}

.label-teams{
    font-weight: $default-label-weigth;
}

.escalation-squad{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(132, 47, 127));
    border-radius: 3px;
    height: 80vw;
    max-height: 30rem;
    min-width: 11rem;
    min-height: 22rem;

    .line{
        background-color: rgb(204, 154, 190);
        border-radius: 120px;
        margin: 10px;
        margin-bottom: 45px;
        height: 7vw;
        width: 7vw;
        max-width: 50px;
        max-height: 3.2rem;
        border: dashed 1px;
        display: flex;
        
        span{
            margin: auto;
        }
    }

    .lineUp {
        display: flex;
        align-self: center;
        margin: 10px;
    }

}

.submit-button{
    margin-top: 20px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(132, 47, 127));
    border-radius: 3px;
    border: none;

    span {
        text-align: center;
        font-weight: 500;
    }

}

.submit-button:hover{
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(185, 92, 179));
}

.submit-button:focus{
    background: linear-gradient(to bottom, rgb(166, 56, 124),rgb(132, 47, 127));
}

.my-custom-validate{
    font-weight: 600;
}

.custom-wrapper{
    width: 84vw;
    display: contents;
}

@media only screen and (max-width: 990px) {

    .squad {
        max-height: 17rem;
        overflow-y: auto;
        margin-bottom: 10px;
    }

    .custom-wrapper{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
  
}





