
$card-title :  rgb(98, 61, 147);

//Header
$header-color : linear-gradient(to right,rgb(191, 14, 79),rgb(144, 30, 107));

//Footer
$footer-background-color :rgb(233, 227, 233);
$footer-color : rgb(159, 155, 159);

$default-label-weigth: 600;
$default-radius : 10px;
$default-btn-color : rgb(155, 55, 124);
$default-btn-color-hover : rgb(207, 85, 168);

//Body background color
$default-background-color :  rgb(247, 243, 247);