
$card-title :  rgb(98, 61, 147);

//Header
$header-color : linear-gradient(to right,rgb(191, 14, 79),rgb(144, 30, 107));

//bottom
$footer-background-color :rgb(233, 227, 233);
$footer-color : rgb(159, 155, 159);