@import '../../sass/main.scss';

.actions {
    float: right;
    cursor: pointer;
}

.icon-action {
    margin-left: 6px;
    color: $default-btn-color;

    :hover{
        color: $default-btn-color-hover;
    }
}

.reset-link{
    color: inherit;
}
