@import '../../sass/main.scss';

.site-page-header {
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    color: #FFF;
    background: $header-color;
    position: fixed;
    z-index: 1;
}

.app-logo{
    margin-left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
}

.app-title{
    padding-left: 1rem;  
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-container{
    display: flex;
    flex: 1;
    margin-right: 20px;
    justify-content: flex-end;
    
    .profile-name{
        font-size: 1.0rem;
        font-weight: 500;
        align-self: center;
        margin-right: 10px;
    }

    .profile-icon{
        display: flex;
        background-color: rgb(243, 245, 247);
        color: black;
        border-radius: 120px;
        height: 40px;
        width: 40px;
        justify-content: center;
    }

    .profile-initials{
        font-size: 1.0rem;
        font-weight: 600;
        align-self: center;
    }
}

@media only screen and (max-width: 500px) {
    .profile-name{
        display: none;
    }
  
    .app-title{
        padding-left: 1rem;  
        font-size: 1rem;
    }
}


.site-page-header a { color: inherit; } 