@import '../../sass/main.scss';

.site-page-header {
    height: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    color: #FFF;
    background: $header-color;
    position: fixed;
    z-index: 99999;
}

.app-logo{
    margin-left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
}

.app-title{
    padding-left: 1rem;  
    font-size: 1.2rem;
    font-weight: 500;
}

.site-page-header a { color: inherit; } 