@import '../../sass/main.scss';

.site-page-header {
    height: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    color: #FFF;
    background: $header-color;
    margin-bottom: 3%;
}

.app-logo{
    margin-left: 2rem;
    height: 2.5rem;
    width: 2.5rem;
}

.app-title{
    padding-left: 1rem;  
    font-size: 1.2rem;
}