.site-page-header {
    height: 2.9rem;
    display: flex;
    width: 100%;
    align-items: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3%;
}

.app-logo{
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
}

.app-title{
    padding-left: 1rem;  
    font-size: 1.2rem;
}