@import '../../sass/main.scss';

.create-card {
    margin: auto;
    width: 84vw;
    height: 150vh; //retirar
}

.formation-items {
    display: flex;
    align-items: center;
}

.formation-label{
    margin-right: 10px;
}
