@import '../../sass/main.scss';

.avarage-title{
    font-weight: 600;
}

.avarage-card{
    background-color: rgb(229, 223, 228);
    overflow-y: auto;

    .ant-card-body{
        padding: 6px;
    }
}