@import '../../sass/main.scss';

.create-card {
    margin: auto;
    width: 84vw;
    height: 85vw; //retirar
    min-height: 85rem;
    max-height: 85rem;
}

.formation-items {
    display: flex;
    align-items: center;
}

.formation-label{
    margin-right: 10px;
}
